[2022-09-23 12:36] vashuteotia123 opened #1 "Binary Search"
## Overview

1. Write code for **Binary Search in C++.**
2. Add that code into a directory named "**Searching**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issu

[2022-09-23 12:37] vashuteotia123 opened #2 "Linear Search"
## Overview

1. Write code for **Linear Search in C++.**
2. Add that code into a directory named "**Searching**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issu

[2022-09-23 12:38] vashuteotia123 opened #3 "Depth First Search"
## Overview

1. Write code for **Depth First Search in C++.**
2. Add that code into a directory named "**Searching**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the

[2022-09-23 12:38] vashuteotia123 opened #4 "Breadth First Search"
## Overview

1. Write code for **Breadth First Search in C++.**
2. Add that code into a directory named "**Searching**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in t

[2022-09-23 12:39] vashuteotia123 opened #5 "Rabin-Karp Algorithm"
## Overview

1. Write code for **Rabin-Karp Algorithm in C++.**
2. Add that code into a directory named "**Searching**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in t

[2022-09-23 12:39] vashuteotia123 opened #6 "Z Algorithm"
## Overview

1. Write code for **Z Algorithm in C++.**
2. Add that code into a directory named "**Searching**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:41] vashuteotia123 opened #7 "Insertion Sort"
## Overview

1. Write code for **Insertion Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue

[2022-09-23 12:41] vashuteotia123 opened #8 "Heap Sort"
## Overview

1. Write code for **Heap Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:42] vashuteotia123 opened #9 "Selection Sort"
## Overview

1. Write code for **Selection Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue

[2022-09-23 12:42] vashuteotia123 opened #10 "Merge Sort"
## Overview

1. Write code for **Merge Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:42] vashuteotia123 opened #11 "Quick Sort"
## Overview

1. Write code for **Quick Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:43] vashuteotia123 opened #12 "Counting Sort"
## Overview

1. Write code for **Counting Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:43] vashuteotia123 opened #13 "Bucket Sort"
## Overview

1. Write code for **Bucket Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:43] vashuteotia123 opened #14 "Bubble Sort"
## Overview

1. Write code for **Bubble Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:44] vashuteotia123 opened #15 "Radix Sort"
## Overview

1. Write code for **Radix Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:44] vashuteotia123 opened #16 "Shell Sort"
## Overview

1. Write code for **Shell Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:44] vashuteotia123 opened #17 "Comb Sort"
## Overview

1. Write code for **Comb Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:45] vashuteotia123 opened #18 "Pigeonhole Sort"
## Overview

1. Write code for **Pigeonhole Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issu

[2022-09-23 12:45] vashuteotia123 opened #19 "Cycle Sort"
## Overview

1. Write code for **Cycle Sort in C++.**
2. Add that code into a directory named "**Sorting**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:46] vashuteotia123 opened #20 "Kruskal's Algorithm"
## Overview

1. Write code for **Kruskal's Algorithm in C++.**
2. Add that code into a directory named "**Graphs**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the i

[2022-09-23 12:46] vashuteotia123 opened #21 "Dijkstra's Algorithm"
## Overview

1. Write code for **Dijkstra's Algorithm  in C++.**
2. Add that code into a directory named "**Graphs**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the

[2022-09-23 12:46] vashuteotia123 opened #22 "Bellman Ford Algorithm"
## Overview

1. Write code for **Bellman Ford Algorithm  in C++.**
2. Add that code into a directory named "**Graphs**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in t

[2022-09-23 12:47] vashuteotia123 opened #23 "Floyd Warshall Algorithm"
## Overview

1. Write code for **Floyd Warshall Algorithm in C++.**
2. Add that code into a directory named "**Graphs**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in

[2022-09-23 12:47] vashuteotia123 opened #24 "Topological Sort Algorithm"
## Overview

1. Write code for **Topological Sort Algorithm in C++.**
2. Add that code into a directory named "**Graphs**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned i

[2022-09-23 12:48] vashuteotia123 opened #25 "Flood Fill Algorithm"
## Overview

1. Write code for **Flood Fill Algorithm in C++.**
2. Add that code into a directory named "**Graphs**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the

[2022-09-23 12:48] vashuteotia123 opened #26 "Lee Algorithm"
## Overview

1. Write code for **Lee Algorithm in C++.**
2. Add that code into a directory named "**Graphs**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:49] vashuteotia123 opened #27 "Prim's Algorithm"
## Overview

1. Write code for **Prim's Algorithm in C++.**
2. Add that code into a directory named "**Graphs**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issu

[2022-09-23 12:49] vashuteotia123 opened #28 "Boruvka's Algorithm"
## Overview

1. Write code for **Boruvka's Algorithm in C++.**
2. Add that code into a directory named "**Graphs**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the i

[2022-09-23 12:49] vashuteotia123 opened #29 "Johnson's Algorithm"
## Overview

1. Write code for **Johnson's Algorithm in C++.**
2. Add that code into a directory named "**Graphs**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the i

[2022-09-23 12:51] vashuteotia123 opened #30 "Kosaraju's Algorithm"
## Overview

1. Write code for **Kosaraju's Algorithm in C++.**
2. Add that code into a directory named "**Graphs**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the

[2022-09-23 12:52] vashuteotia123 opened #31 "Tarjan's Algorithm"
## Overview

1. Write code for **Tarjan's Algorithm in C++.**
2. Add that code into a directory named "**Graphs**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- [x] The code file was added to the correct directory.
- [X] Code quality looks good.
- [X] The programming language used is the same as mention

[2022-09-23 12:52] vashuteotia123 opened #32 "Kadane's Algorithm"
## Overview

1. Write code for **Kadane's Algorithm in C++.**
2. Add that code into a directory named "**Arrays**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the is

[2022-09-23 12:53] vashuteotia123 opened #33 "Floyd's Cycle Detection Algorithm"
## Overview

1. Write code for **Floyd's Cycle Detection Algorithm in C++.**
2. Add that code into a directory named "**Arrays**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as ment

[2022-09-23 12:53] vashuteotia123 opened #34 "Knuth-Morris-Pratt Algorithm (KMP)"
## Overview

1. Write code for **Knuth-Morris-Pratt Algorithm (KMP) in C++.**
2. Add that code into a directory named "**Arrays**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as men

[2022-09-23 12:54] vashuteotia123 opened #35 "Quick Select Algorithm"
## Overview

1. Write code for **Quick Select Algorithm in C++.**
2. Add that code into a directory named "**Arrays**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in th

[2022-09-23 12:54] vashuteotia123 opened #36 "Boyer - More Majority Vote Algorithm"
## Overview

1. Write code for **Boyer - More Majority Vote Algorithm in C++.**
2. Add that code into a directory named "**Arrays**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as m

[2022-09-23 12:56] vashuteotia123 opened #37 "AA Tree"
## Overview

1. Write code for **AA Tree in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:56] vashuteotia123 opened #38 "Binary Indexed Tree or Fenwick Tree"
## Overview

1. Write code for **Binary Indexed Tree or Fenwick Tree in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as ment

[2022-09-23 12:57] vashuteotia123 opened #39 "Quadtree"
## Overview

1. Write code for **Quadtree in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:57] vashuteotia123 opened #40 "Cartesian Tree"
## Overview

1. Write code for **Cartesian Tree in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:57] vashuteotia123 opened #41 "Fibonacci heap"
## Overview

1. Write code for **Fibonacci heap in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:58] vashuteotia123 opened #42 "Interval Tree"
## Overview

1. Write code for **Interval Tree in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:58] vashuteotia123 opened #43 "Finger Tree"
## Overview

1. Write code for **Finger Tree in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:58] vashuteotia123 opened #44 "Crit-bit Trees"
## Overview

1. Write code for **Crit-bit Trees in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:59] vashuteotia123 opened #45 "Scapegoat Tree"
## Overview

1. Write code for **Scapegoat Tree in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 12:59] vashuteotia123 opened #46 "Splay Tree"
## Overview

1. Write code for **Splay Tree in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 13:00] vashuteotia123 opened #47 "Suffix Tree"
## Overview

1. Write code for **Suffix Tree in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 13:00] vashuteotia123 opened #48 "Counted B-Trees"
## Overview

1. Write code for **Counted B-Trees in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issue.

[2022-09-23 13:00] vashuteotia123 opened #49 "Binary Space Partitioning"
## Overview

1. Write code for **Binary Space Partitioning in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in t

[2022-09-23 13:01] vashuteotia123 opened #50 "Van Emde Boas Tree"
## Overview

1. Write code for **Van Emde Boas Tree in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the issu

[2022-09-23 16:40] sambhavgupta0705 commented on #27
hey I can add this algorithm .

[2022-09-23 16:41] sambhavgupta0705 commented on #32
Hey I can work on this  issue

[2022-09-23 16:43] vashuteotia123 commented on #27
Hey @sambhavgupta0705,

Yes you can, but remember if you are looking for a hacktoberfest contribution. It will only be counted if made on or after 1st October.

[2022-09-24 00:14] sambhavgupta0705 commented on #13
Hey , I can work on this issue

[2022-09-24 00:14] sambhavgupta0705 commented on #14
Hey can I work on this issue?

[2022-09-24 00:15] sambhavgupta0705 commented on #9
Hey Can I work on this issue?

[2022-09-24 00:15] sambhavgupta0705 commented on #1
Hey Can I work on this issue?

[2022-09-24 08:37] sambhavgupta0705 commented on #14
Thank you for assigning me this issue.

[2022-09-24 08:58] semi-infiknight commented on #23
please assign me this issue

[2022-09-24 08:58] semi-infiknight commented on #16
please assign me this issue

[2022-09-24 08:59] semi-infiknight commented on #13
please assign me this issue

[2022-09-24 10:22] Nisarg-Chokshi commented on #2
@vashuteotia123 Can I work on this ?

[2022-09-24 10:23] Nisarg-Chokshi commented on #5
@vashuteotia123 Can I work on this ?

[2022-09-24 10:24] Nisarg-Chokshi commented on #15
@vashuteotia123 Can I work on this ?

[2022-09-25 17:04] RAYANI630 commented on #33
Can you assign this to me?

[2022-09-25 17:06] RAYANI630 commented on #34
Can I work on this issue?

[2022-09-25 17:08] RAYANI630 commented on #10
Can I work on this issue?

[2022-09-26 14:09] saimaheshtaduri commented on #7
I can contribute for this. assign it to me. @vashuteotia123

[2022-09-26 14:11] saimaheshtaduri commented on #4
I can work on this issue. assign to me if possible. @vashuteotia123

[2022-09-26 14:12] saimaheshtaduri commented on #21
I can contribute here. consider assigning me to this issue.  Thanks. @vashuteotia123

[2022-09-26 18:40] Arnav-Negi commented on #38
Hey I want to work on this, assign it to me if possible.

[2022-09-26 18:41] Arnav-Negi commented on #30
Hi I can work on this, please assign it to me.

[2022-09-27 05:25] RockingRishav commented on #3
I want to work upon this issue please assign it to me.

[2022-09-27 11:27] semi-infiknight commented on #8
please assign me this issue

[2022-09-27 11:28] semi-infiknight commented on #19
please assign me this issue

[2022-09-27 11:28] semi-infiknight commented on #18
please assign me this issue

[2022-09-27 11:29] semi-infiknight commented on #17
please assign me this issue

[2022-09-27 11:30] semi-infiknight commented on #24
please assign me this issue

[2022-09-27 11:30] semi-infiknight commented on #22
please assign me this issue

[2022-09-27 11:31] semi-infiknight commented on #31
please assign me this issue

[2022-09-27 11:31] semi-infiknight commented on #36
Please assign me this issue

[2022-09-27 11:32] semi-infiknight commented on #35
please assign me this issue

[2022-09-27 13:24] Ravnoor12 commented on #36
Please assign me this issue

[2022-09-27 13:37] kingmask420 commented on #12
please assign me this issue

[2022-09-27 14:15] RockingRishav commented on #11
I want to work upon this issue

[2022-09-28 04:50] Arnav-Negi commented on #38
I have written the code. I will create a PR after 1st October because of Hacktoberfest.

[2022-09-28 04:50] Arnav-Negi commented on #30
I have written the code. I will create a PR after 1st October because of Hacktoberfest.

[2022-09-29 06:09] akshitsangwan commented on #8
Hey @vashuteotia123, I am interested to contribute to this task. Can you please assign me this issue?

[2022-09-29 10:51] sarthak17jain commented on #20
Please assign me this issue.

[2022-09-29 17:57] r-o-n-i-t commented on #21
Hello, I'm a participant in Hacktoberfest 2022. I want to contribute to this issue.
Thank you,
@vashuteotia123

[2022-09-29 18:14] r-o-n-i-t commented on #41
Hello, I'm a participant in Hacktoberfest 2022. I want to contribute to this issue. Consider assigning me this issue.
Thank you,
@vashuteotia123

[2022-09-29 18:16] vashuteotia123 commented on #21
This issue is already been assigned.

[2022-09-29 18:28] omkarvw commented on #25
Hello, I am new to open source and would like to learn more about it. So could you please assign it to me.

[2022-09-29 18:32] omkarvw commented on #6
Hello there, could you please assign this issue to me ?

[2022-09-29 18:33] omkarvw commented on #45
Hello Sir, could you please assign this issue to me ?
Thank You.

[2022-09-29 18:41] r-o-n-i-t commented on #17
I can contribute here. Consider assigning me to this issue.
Thanks.
@vashuteotia123

[2022-09-29 19:14] omkarvw commented on #18
Hello there, could you please assign this issue to me ?

[2022-09-29 19:15] omkarvw commented on #19
Hello there, could you please assign this issue to me ?

[2022-09-30 09:40] Prajwal0225 commented on #1
Hey! @sambhavgupta0705 are you still working on it?  If not then I would love to work on this issue.

[2022-09-30 10:09] sambhavgupta0705 commented on #1
I am working on it

[2022-09-30 11:16] semi-infiknight commented on #16
do we need to add comments

[2022-09-30 13:10] Prajwal0225 commented on #1
Okk 😊.

[2022-09-30 14:51] aashishxetri5 commented on #10
Hey @RAYANI630, are you working on this? If not I'd like to work on this.

[2022-09-30 14:54] aashishxetri5 commented on #2
Hey @Nisarg-Chokshi , are you working on this issue? If not, I'd like to work on this.

[2022-09-30 15:04] RAYANI630 commented on #10
@aashishxetri5 I'm working on it.

[2022-09-30 18:55] sdhanraj300 commented on #14
Can I work on it?

[2022-09-30 19:35] r-o-n-i-t commented on #26
I can contribute here. Consider assigning me to this issue.
Thanks.
@vashuteotia123

[2022-09-30 19:54] akshitsangwan commented on #8
Hey @vashuteotia123, I have raised the PR for this issue. Kindly review my PR and please merge the same if you find it appropriate. Please provide your valuable feedback:)

[2022-09-30 20:07] akshitsangwan commented on #8
#62

[2022-09-30 20:20] kataranandini commented on #32
Hey,Is it still open . Can i Work on it?

[2022-09-30 20:21] kataranandini commented on #22
please assign this to me i can do this

[2022-10-01 03:27] Sumercode commented on #25
Hey, I can contribute the complete C++ code , with comments
The whole code will be neat and self explanatory
Please assign me this , Thanks !

[2022-10-01 03:29] omkarvw commented on #25
I have already made a pull request for the above issue.

[2022-10-01 03:29] muskaanrajput14 commented on #32
is it open ?? I want to work on it please tell me

[2022-10-01 03:30] muskaanrajput14 commented on #9
can i work on this ???

[2022-10-01 03:35] omkarvw commented on #25
Hello, how do we link a pull request to the issue assigned to us. I have already made a pull request for above issue.

[2022-10-01 03:35] muskaanrajput14 commented on #12
Can I work on this issue??

[2022-10-01 03:36] muskaanrajput14 commented on #10
Can I work on this issue??

[2022-10-01 03:40] muskaanrajput14 commented on #33
Please assign this task to me

[2022-10-01 03:41] muskaanrajput14 commented on #14
Please assign this task to me

[2022-10-01 03:47] ShivanshDengla commented on #29
Hey,
i am new on opensource and came here from the youtube video, can i try to work on this issue?

[2022-10-01 04:17] vashuteotia123 commented on #29
Yes, now you can.

[2022-10-01 04:19] vashuteotia123 commented on #20
Hey @muskaanrajput14,
This issue has already been assigned.

[2022-10-01 04:22] vashuteotia123 commented on #32
Hey @kataranandini & @muskaanrajput14,

This issue has already been assigned, PTAL on other issues.

[2022-10-01 04:34] muskaanrajput14 commented on #42
I want to work on this task, please assign it to me

[2022-10-01 05:43] kashyap1106 commented on #41
Hello, I'm a participant of Hacktoberfest 2022. I want to contribute to this issue.Consider assigning me this issue.
Mr.@vashuteotia123

[2022-10-01 06:18] #10 closed

[2022-10-01 06:19] #20 closed

[2022-10-01 06:19] #26 closed

[2022-10-01 06:21] #37 closed

[2022-10-01 06:25] #18 closed

[2022-10-01 06:27] #33 closed

[2022-10-01 06:27] #34 closed

[2022-10-01 06:28] #13 closed

[2022-10-01 06:29] #16 closed

[2022-10-01 06:40] ShivanshDengla commented on #29
hey i made a pull request, i don't know if i did it right. If theres any problem please let me know. Thank you

[2022-10-01 06:42] ShivanshDengla commented on #29
#77

[2022-10-01 06:48] #14 closed

[2022-10-01 06:52] #8 closed

[2022-10-01 06:54] sdhanraj300 commented on #14
I made a pulll request please check it

[2022-10-01 06:55] #41 closed

[2022-10-01 06:58] #29 closed

[2022-10-01 06:59] #23 closed

[2022-10-01 07:06] Aditya-wani02 commented on #48
Hey Its Aditya,
 Can I work on it?
Please assign it to me.

[2022-10-01 07:15] #7 closed

[2022-10-01 07:17] yaegareren commented on #28
Hey,  I'd like to contribute the code for this algorithm. Please assign it to me.

[2022-10-01 07:23] KumarUtsav1025 commented on #11
Sir, I want to work on this. Can you please assign it to me.

[2022-10-01 07:28] vashuteotia123 commented on #11
The issue has already been assigned.
PTAL on other issues.

[2022-10-01 07:40] #35 closed

[2022-10-01 07:41] #21 closed

[2022-10-01 07:44] #48 closed

[2022-10-01 08:15] ShivanshDengla commented on #45
Hey,
Can i write the code for this?

[2022-10-01 08:23] vishal-teotia commented on #44
Assign.

[2022-10-01 08:24] vishal-teotia commented on #47
Assign.

[2022-10-01 08:24] vishal-teotia commented on #49
Assign.

[2022-10-01 08:24] vishal-teotia commented on #50
Assign.

[2022-10-01 09:01] yaegareren commented on #24
I have created a pull request for this task. Please review it.

[2022-10-01 09:04] ShivanshDengla commented on #45
hey i made a pull request #89 Do let me know if its good, i can make changes if required
Thanks

[2022-10-01 09:29] #44 closed

[2022-10-01 09:29] #47 closed

[2022-10-01 09:29] #49 closed

[2022-10-01 09:29] #50 closed

[2022-10-01 09:35] #45 closed

[2022-10-01 09:37] #46 closed

[2022-10-01 09:39] #17 closed

[2022-10-01 09:46] manish831 commented on #43
@vashuteotia123  plz assign it to me.

[2022-10-01 09:59] ShivanshDengla commented on #38
Hey,
I have made a Pull Request #101 for this code. You can check it out, if theres some issue you can let me know.
Thanks

[2022-10-01 10:07] ShivanshDengla opened #102 "Linear Searching"
Hey, I can write the code for linear search in c++. Do assign me this issue if you accept it
Thanks

[2022-10-01 10:12] manish831 commented on #9
I had done work on it.
Plz check #103

[2022-10-01 10:16] muskaanrajput14 commented on #102
Please assign this task to me

[2022-10-01 10:17] jatin-code21 commented on #27
please assign this task to me. I am ready to contribute it

[2022-10-01 10:19] manish831 commented on #40
@vashuteotia123  sir, plz do assign it to me.

[2022-10-01 10:23] As-anonymus commented on #40
Sir i have already submitted for pull request , pl look into it  for mergng

[2022-10-01 10:24] #102 closed

[2022-10-01 10:28] ShivanshDengla commented on #102
Sorry, i shouldnt have added the issue, i guess its not allowed.
I though we can suggest our own codes problems but didnt knew it would add it in the issue tab.
I am a little new to github so please forgive for this mistake.
Thank You

[2022-10-01 11:19] Arnav-Negi commented on #38
Pull request created, kindly looking into it

[2022-10-01 11:24] Arnav-Negi commented on #30
Pull request created, kindly look into it

[2022-10-01 12:34] Mihir-63 commented on #22
Can I work on this?

[2022-10-01 13:57] Sumedh-byte commented on #15
@vashuteotia123 I want to add code for this algorithm. Can I work on this?

[2022-10-01 14:00] vashuteotia123 commented on #15
Hey @Sumedh-byte, if @Nisarg-Chokshi doesn't update in 1 day on this issue, please re-request the same. Will assign it to you.

[2022-10-01 14:07] Sumedh-byte commented on #39
Hey, I want to contribute for this algorithm. Can you assign it to me please?

[2022-10-01 14:17] Sumedh-byte opened #126 "Segment Tree"
**Overview**

1. Write code for #Segment Tree in C++.

1. Add that code into a directory named "Tree", if the directory doesn't exist, create one and add the code file.

Please take care of these things while creating the pull request.

- The code file was added to the correct directory.

- Code quality looks good.

- The programming language used is the same as mentioned in the issue.

[2022-10-01 14:21] sohamdata commented on #126
Hi, could you please assign this issue to me? @vashuteotia123

[2022-10-01 14:23] Sumedh-byte commented on #4
Hey, can I work on this issue?

[2022-10-01 14:24] Siddharthqr commented on #126
Hi, Can I work on this issue? @vashuteotia123

[2022-10-01 14:27] hd2342-dubey commented on #4
Hello, I want to work over this, please assign it to me if.

[2022-10-01 14:30] As-anonymus commented on #40
Can you merge the request

[2022-10-01 14:35] As-anonymus commented on #28
If nobody is working on this can you assign it to me ?

[2022-10-01 15:10] Sudhanshu-Purohit commented on #3
i want to work on this issue i will do it with proper comments, time and space complexity also.

[2022-10-01 16:15] Siddharthqr commented on #36
Please assign me this issue

[2022-10-01 16:16] Siddharthqr commented on #43
Can this issue be assigned to me??

[2022-10-01 16:18] Siddharthqr commented on #12
Please assign me this issue

[2022-10-01 18:22] Siddharthqr commented on #31
Please assign me this issue

[2022-10-01 18:30] Siddharthqr commented on #27
Assign it to me, if not done.

[2022-10-01 19:08] yaegareren commented on #28
@vashuteotia123 I have completed the code and made a pr for the same. Kindly review it.

[2022-10-01 19:12] ananya-1112 commented on #2
I would like to work on this

[2022-10-01 20:33] adarshgupta404 commented on #5
Can i work on this issue?

[2022-10-01 20:34] adarshgupta404 commented on #15
can i work on this?

[2022-10-02 06:14] priyankaaa532002 commented on #6
Hey @vashuteotia123, Can you assign me this issue? I would love to work on it.

[2022-10-02 06:16] priyankaaa532002 commented on #42
Hey @vashuteotia123, Can you assign me this issue? I would love to work on it.

[2022-10-02 07:04] anamikarawat opened #156 "add code of conduct file"
I want to create a code_of_conduct.md file . please assign me this issue under hacktoberfest 2022.

[2022-10-02 08:40] #6 closed

[2022-10-02 08:41] #9 closed

[2022-10-02 08:42] Prajwal0225 commented on #1
@vashuteotia123 Thanks for assigning me this issue

[2022-10-02 08:42] #5 closed

[2022-10-02 08:44] #11 closed

[2022-10-02 08:46] #2 closed

[2022-10-02 08:47] #3 closed

[2022-10-02 08:48] #4 closed

[2022-10-02 08:49] #12 closed

[2022-10-02 08:49] #15 closed

[2022-10-02 08:50] #19 closed

[2022-10-02 08:51] #22 closed

[2022-10-02 08:51] #24 closed

[2022-10-02 08:53] #25 closed

[2022-10-02 08:54] #27 closed

[2022-10-02 08:55] #28 closed

[2022-10-02 08:57] #30 closed

[2022-10-02 08:59] #32 closed

[2022-10-02 09:00] #36 closed

[2022-10-02 09:01] #38 closed

[2022-10-02 09:04] #40 closed

[2022-10-02 09:05] #42 closed

[2022-10-02 09:07] #126 closed

[2022-10-02 09:50] As-anonymus opened #163 "Issue Creation for Red Black Tree"
Can you create an issue for code for Red-Black Tree

[2022-10-02 09:54] sohamdata commented on #126
My submission wasn't merged with main, kindly look into it and mark it as
hacktober accepted

On Sun, Oct 2, 2022 at 2:37 PM Vishal Teotia ***@***.***>
wrote:

[2022-10-02 15:42] Mani628 commented on #1
can you assign this to me ?? I am ready with the code

[2022-10-02 15:43] Mani628 commented on #39
I am ready with the code. Can you assign this to me ??

[2022-10-02 19:32] utkarshsingx commented on #1
can you assign this to me please. I would work on this issue

[2022-10-03 04:29] #156 closed

[2022-10-03 05:42] adarshgupta404 opened #173 "Please add more issues"
please add more issue as my new to github and learning things.

[2022-10-03 05:53] kanishkasrivastava commented on #1
#174 please merge my code as i have tried to help you

[2022-10-03 06:11] adarshgupta404 opened #175 "Code_of_Conduct.md"
Please assign me to make a code of conduct file.

[2022-10-03 06:11] #173 closed

[2022-10-03 06:14] shivam-cse commented on #175
Please assign me to make a code of conduct file.

[2022-10-03 09:51] raj-hero opened #181 "create issue for 3 tree-traversals"
I've already made the pull request. Do add the issue numer, for tree-traversals so that Ican refernce it.

[2022-10-03 09:51] raj-hero commented on #181
@vashuteotia123

[2022-10-03 10:16] #1 closed

[2022-10-03 10:17] #39 closed

[2022-10-03 10:19] #163 closed

[2022-10-03 10:19] #175 closed

[2022-10-03 10:22] vashuteotia123 opened #182 "Preorder Tree Traversal"
## Overview

1. Write code for **Preorder Tree Traversal in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the

[2022-10-03 10:22] vashuteotia123 opened #183 "Postorder Tree Traversal"
## Overview

1. Write code for **Postorder Tree Traversal in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in th

[2022-10-03 10:22] vashuteotia123 opened #184 "Inorder Tree Traversal"
## Overview

1. Write code for **Inorder Tree Traversal in C++.**
2. Add that code into a directory named "**Tree**", if the directory doesn't exist, create one and add the code file.

#### Please take care of these things while creating the pull request.

- The code file was added to the correct directory.
- Code quality looks good.
- The programming language used is the same as mentioned in the

[2022-10-03 10:23] vashuteotia123 commented on #181
@raj-hero check it out.

[2022-10-03 11:34] raj-hero commented on #181
I've already made a recursive solution for all 3 tree traversals in one file and made a pull request #159

[2022-10-03 11:34] raj-hero commented on #181
@vashuteotia123

[2022-10-03 11:35] adarshgupta404 commented on #184
please assign me this.

[2022-10-03 11:36] raj-hero commented on #184
@vashuteotia123 I've already made a recursive solution for all 3 tree traversals in one file and made a pull request #159 for issues #182 #183 #184

[2022-10-03 11:36] adarshgupta404 commented on #183
please assign me this.

[2022-10-03 11:37] adarshgupta404 commented on #182
please assign me this.

[2022-10-03 11:45] #182 closed

[2022-10-03 11:45] #183 closed

[2022-10-03 11:45] #184 closed

[2022-10-03 14:41] Satorusimpp commented on #43
can you please assign this issue to me?

[2022-10-04 04:28] rachana2522 commented on #43
Can you please assign it to me?

[2022-10-06 11:26] saty-a commented on #43
can you please assign it to me!

[2022-10-06 17:35] rajutkarsh07 opened #198 "Recursive Insertion Sort"
I will add recrusive insertion sort algorithm

[2022-10-06 17:35] rajutkarsh07 commented on #198
Please assign me this issue and add hacktoverfest tag

[2022-10-06 17:36] rajutkarsh07 opened #199 "Cycle Sort"
I will add cycle sort algorithm in CPP

[2022-10-06 17:37] rajutkarsh07 commented on #199
please assign me this task and add hacktoverfest tag

[2022-10-07 06:46] harshita9621 opened #201 "Delete Node in a BST"
will add Delete Node in a BST in CPP

please assign me this task and add hacktoberfest tag.

[2022-10-07 06:49] harshita9621 opened #202 "Lowest Common Ancestor of a Binary Tree"
Will add  Lowest Common Ancestor of a Binary Tree in cpp

[2022-10-08 11:41] Abhishek-Jha-01 commented on #199
I will do this Please assign this to me!..

[2022-10-08 11:42] Abhishek-Jha-01 commented on #198
I will do the "Recursive insertion sort ".Please assign this to me!

[2022-10-11 09:30] #43 closed

[2022-10-11 09:30] #198 closed

[2022-10-11 09:30] #199 closed

[2022-10-11 09:30] #201 closed

[2022-10-11 09:30] #202 closed

[2022-10-13 09:52] Mahesmati opened #210 "Find the Nth row in Pascal’s Triangle"

[2022-10-13 11:14] inbuilt-aura commented on #210
Hello, plzz assign me this issue. I really wanna work on it. Plzz sign me up in hacktoberfest 2022.

[2022-10-16 06:36] suryanshhh28 commented on #210
please assign me this issue pleaseeeee

[2022-10-18 11:58] L-Pircy commented on #210
please assign issue

[2022-10-19 21:33] jainshubham766 commented on #210
assign this under hacktoberfeast please

[2022-10-28 15:15] Kp-cloud371 commented on #210
Please assign this issue to me